* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background: black;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  padding: 20px 0;
}

.image {
  max-height: 100%;
  width: auto;
}

.previous-container {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.previous-image {
  opacity: 0.5;
}

.previous-image:hover {
  opacity: 1;
}

.btn {
  background: none;
  border: none;
  outline: none;
}

.btn-arrow {
  width: 50px;
  height: 50px;
  padding: 0;
  opacity: 0.8;
}

.btn-arrow:hover {
  opacity: 1;
  cursor: pointer;
}
